<nav>   
  <a href="#" class="brand-logo right padding-top-5"><h5>Bienvenido Funalo</h5></a>
    <ul class="right hide-on-med-and-down" id="nav-mobile">
      <li><a href="#!" >My UniWay <i class="material-icons right padding-top">perm_identity</i> </a></li>
      <li><a href="#!"> Search<i class="material-icons right padding-top">search</i> </a></li>
      <li><a href="#!"> Log Out<i class="material-icons right padding-top">settings_power</i> </a></li>
    </ul>
    <ul id="slide-out" class="side-nav" id="nav-mobile">
      <li><a href="#!" >My UniWay <i class="material-icons right padding-top">perm_identity</i> </a></li>
      <li><a href="#!"> Search<i class="material-icons right padding-top">search</i> </a></li>
      <li><a href="#!"> Log Out<i class="material-icons right padding-top">settings_power</i> </a></li>
    </ul>
    <a href="#" data-activates="slide-out" id="asd" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>  

<div class="container">
  <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="500" data-closeonclick="false">
    Show side-nav
  </a>
  <br>
  <h5>Go to University</h5>   
  <p>Monday</p>
  <div class="row">
        <div class="col s12 m6">
          <div class="card  blue darken-4">
            <div class="card-content white-text">
              <span class="card-title"><i class="material-icons">account_circle</i> Milton Casanova</span>
              <p><i class="material-icons">av_timer</i> 07:00 AM </p>              
              <p><i class="material-icons">location_on</i> Cra 59 # 82 - 39</p>  
              <p><i class="material-icons">phone</i> 3012785751</p>               
            </div>            
            <div class="card-action">
              <a href="#">Cancel</a>              
            </div>
          </div>
        </div>       
     </div>     
     <p>Tuesday</p>
  <div class="row">
    <div class="col s12 m6">
      <div class="card  blue darken-4">
        <div class="card-content white-text">
          <span class="card-title"><i class="material-icons">account_circle</i> Milton Casanova</span>
          <p><i class="material-icons">av_timer</i> 07:00 AM </p>              
          <p><i class="material-icons">location_on</i> Cra 59 # 82 - 39</p>  
          <p><i class="material-icons">phone</i> 3012785751</p>               
        </div>            
        <div class="card-action">
          <a href="#">Cancel</a>              
        </div>
      </div>
    </div>       
  </div>            
</div>
  

