<navbar></navbar>
  
<div class="container">
  <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="500" data-closeonclick="false">
    Show side-nav
  </a>
  <br>
  <h5>Go to University</h5>   
  <p>Monday</p>
  <div class="row">
        <div class="col s12 m6">
          <div class="card  blue darken-4">
            <div class="card-content white-text">
              <span class="card-title"><i class="material-icons">account_circle</i> Milton Casanova</span>
              <p><i class="material-icons">av_timer</i> 07:00 AM </p>              
              <p><i class="material-icons">location_on</i> Cra 59 # 82 - 39</p>  
              <p><i class="material-icons">phone</i> 3012785751</p>               
            </div>            
            <div class="card-action">
              <a href="#">Cancel</a>              
            </div>
          </div>
        </div>       
     </div>     
     <p>Tuesday</p>
  <div class="row">
    <div class="col s12 m6">
      <div class="card  blue darken-4">
        <div class="card-content white-text">
          <span class="card-title"><i class="material-icons">account_circle</i> Milton Casanova</span>
          <p><i class="material-icons">av_timer</i> 07:00 AM </p>              
          <p><i class="material-icons">location_on</i> Cra 59 # 82 - 39</p>  
          <p><i class="material-icons">phone</i> 3012785751</p>               
        </div>            
        <div class="card-action">
          <a href="#">Cancel</a>              
        </div>
      </div>
    </div>       
  </div>            
</div>
  

