<navbar></navbar>
	<br>
	<div class="row no-margin">
		
		<div class="input-field col s3 padding-top-5">
		    <select id="selected_day">			      
		      <option value="mon">Mon</option>
		      <option value="tue">Tue</option>
		      <option value="wed">Wed</option>
		      <option value="thu">Thu</option>
		      <option value="fri">Fri</option>
		    </select>	
		    <label class="padding-top-3">Day</label>	    
	  	</div>
	  	<div class="col s9">
	  		<label>Destiny</label>
	  		<div class="row">						
				<div class="col s6">	  							
					<p>
				      <input name="group1" type="radio" id="select_uni" />
				      <label for="select_uni">University</label>
				    </p>		    
				</div>
				<div class="col s6">					
					<p>
				      <input name="group1" type="radio" id="select_home" />
				      <label for="select_home">Home</label>
				    </p>
				</div>					
			</div>			
	  	</div>		
	  	
	  	
	</div>
	<div class="row">

		<div class="col s7">	
			<label>Hour</label>  			  		
	  		<input type="time" name="time_search">
	  	</div>
		
		<div class="col s5 padding-top-28">
			<button class="btn right no-padding">Search<i class="material-icons right">search</i></button>
		</div>
	</div>

	<div class="row">
        <div class="col s12 m6">
          <div class="card  blue darken-4">
            <div class="card-content white-text">
              <span class="card-title"><i class="material-icons">account_circle</i> Milton Casanova</span>
              <div class="row">
              	<div class="col s6"><i class="material-icons">av_timer</i> 07:00 AM </div>
              	<div class="col s6"><i class="fa fa-car"></i> 4 quotas</div>              	
              </div>
              <div class="row">
              	<div class="col s12">
              		<i class="material-icons">location_on</i>
              		Cra 59 # 82 - 39
              	</div>
              </div>
            </div>            
            <div class="card-action">
              <a href="#">Take it!!!</a>              
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card  blue darken-4">
            <div class="card-content white-text">
              <span class="card-title"><i class="material-icons">account_circle</i> Milton Casanova</span>
              <div class="row">
              	<div class="col s6"><i class="material-icons">av_timer</i> 07:00 AM </div>
              	<div class="col s6"><i class="fa fa-car"></i> 4 quotas</div>              	
              </div>
              <div class="row">
              	<div class="col s12">
              		<i class="material-icons">location_on</i>
              		Cra 59 # 82 - 39
              	</div>
              </div>
            </div>            
            <div class="card-action">
              <a href="#">Take it!!!</a>              
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card  blue darken-4">
            <div class="card-content white-text">
              <span class="card-title"><i class="material-icons">account_circle</i> Milton Casanova</span>
              <div class="row">
              	<div class="col s6"><i class="material-icons">av_timer</i> 07:00 AM </div>
              	<div class="col s6"><i class="fa fa-car"></i> 4 quotas</div>              	
              </div>
              <div class="row">
              	<div class="col s12">
              		<i class="material-icons">location_on</i>
              		Cra 59 # 82 - 39
              	</div>
              </div>
            </div>            
            <div class="card-action">
              <a href="#">Take it!!!</a>              
            </div>
          </div>
        </div>
      </div>