<div class="container" ng-show="isActive('1')">
		<div class="row">
			<div class="col s8 offset-s2">				
				<img ng-src="{{logo}}" class="responsive-img circle border be-white"></img>
			</div>			
		</div>		
		<form class="col s12">
			<div class="row">
		    	<div class="col s12">		      	
			        <div class="input-field col s12">
			          <i class="material-icons prefix">email</i>	
			          <input id="uniMail" ng-model="formSignUp.email" type="email" class=""></input>
			          <label for="uniMail">UniMail</label>
			        </div>
				 </div>					
			</div>
			<div class="row">
		    	<div class="col s12">		      	
			        <div class="input-field col s12">
			          <i class="material-icons prefix">account_circle</i>	
			          <input id="userName" ng-model="formSignUp.userName" type="text" class=""></input>
			          <label for="userName">User Name</label>
			        </div>
				 </div>					
			</div>
			<div class="row">
			    <div class="col s12">				    
			        <div class="input-field col s12">
			          <i class="material-icons prefix">vpn_key</i>		
			          <input id="password" ng-model="formSignUp.password" type="password" class=""></input>
			          <label for="password">Password</label>
			        </div>
			    </div>					
			</div>			

			<div class="row">
			    <div class="col s12">				    
			        <div class="input-field col s12">
			          <i class="material-icons prefix">vpn_key</i>		
			          <input id="password_confirm" ng-model="formSignUp.cpassword" type="password" class=""></input>
			          <label for="password">Password Confirm</label>
			        </div>
			    </div>					
			</div>		
			<div class="row">
				<div class="col s6">										
					<a class="btn left" href="#/signIn">Back</a>
				</div>		
				<div class="col s6">										
					<a href="" class="btn right" ng-click="asignActive('3')">Next</a>
				</div>			
			</div>
		</form>				
	</div>

	<div class="container" ng-show="isActive('3')">
		<br>
		<h4>Where is your home?</h4>
		<div class="row">
	    	<div class="col s12">		      	
		        <div class="input-field col s12">
		          <i class="material-icons prefix">location_on</i>	
		          <input id="adress" type="text" class="" ng-model="chosenPlace" googleplace></input>
		          <label for="adress">Adress</label>
		        </div>
			 </div>					
		</div>
		<div class="row footer">
			<div class="col s6">				
				<a class="btn left " ng-click="asignActive('2')">Back</a>
			</div>			
			<div class="col s6">				
				<a class="btn right " ng-click="asignActive('4'); addAddress()">Next</a>
			</div>
		</div>				
	</div>

	<div class="container" ng-show="isActive('4')">		
		<br></br>
		<div class="row">			
	        <div class="col s12 m6">
	          <div class="card indigo darken-4">
	            <div class="card-content white-text">
	              <span class="card-title">Are you driver?</span>
	            </div>
	            <div class="card-action">
	              <a ng-click="asignActive('5'); setRange('driver')">Yes I am!</a>
	              <a ng-click="setRange('passenger'); signup()">No, I am passenger</a>
	            </div>
	          </div>
	        </div>		      
		</div>
	</div>

	<div class="container" ng-show="isActive('5')">		
		<h4>About your car...</h4>
		<div class="row">			
	    	<div class="col s12">		      	
		        <div class="input-field col s12">
		          <i class="fa fa-car prefix"></i>
		          <input id="seats" ng-model="formSignUp.capacity" type="text" class="" data-bind="seats"></input>
		          <label for="seats">Number of seats</label>
		        </div>
			 </div>					
		</div>

		<div class="row footer">

			<div class="col s6">				
				<a class="btn left" ng-click="asignActive('4')">Back</a>
			</div>			
			<div class="col s6">
			 	<button class="btn right" ng-click="asignActive('6');  signup()">Next    				
  				</button>				
			</div>				
		</div>
	</div>

	<div class="container" ng-show="isActive('6')">		
		<br></br>
		<div class="row">
	        <div class="col s12 m6">
	          <div class="card indigo darken-4">
	            <div class="card-content white-text">
	              <span class="card-title">Congratulations!</span>
	              <p>Your registration has been successful.</p>
	              <p>We send a verification email to your email, please enter to activate your account</p>
	            </div>
	            <div class="card-action">
	              <a href="#/signIn">Login</a>	              
	            </div>
	          </div>
	        </div>		
		</div>
	</div>
</div>