<navbar></navbar>
<div class="container">					
	<div class="row">			
    	<table id="tabletime">
    		<thead >
    			<tr>
    				<th> <i class="material-icons">perm_contact_calendar</i> </th>
    				<th>Go Uni</th>
    				<th>Go Home</th>	    				
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td><b>Mon</b></td>
    				<td ><input type="time" name="mon_time_u"></td>
    				<td ><input type="time" name="mon_time_h"></td>
    			</tr>
    			<tr>
    				<td><b>Tue</b></td>	    				
    				<td ><input type="time" name="tue_time_u"></td>
    				<td ><input type="time" name="tue_time_h"></td>
    			</tr>
    			<tr>
    				<td><b>Wed</b></td>	    				
    				<td ><input type="time" name="wed_time_u"></td>
    				<td ><input type="time" name="wed_time_h"></td>
    			</tr>
    			<tr>
    				<td><b>Thu</b></td>	    				
    				<td ><input type="time" name="thu_time_u"></td>
    				<td ><input type="time" name="thu_time_h"></td>
    			</tr>
    			<tr>
    				<td><b>Fri</b></td>	    				
    				<td ><input type="time" name="fri_time_u"></td>
    				<td ><input type="time" name="fri_time_h"></td>
    			</tr>
    		</tbody>
    	</table>				
	</div>
	<div class="row">
		<div class="col s6">
			<p>
		      <input type="checkbox" id="default_time_u" />
		      <label for="default_time_u">Set same hour Go U</label>
		    </p>	
		</div>
		<div class="col s6">
			<p>
		      <input type="checkbox" id="default_time_h" />
		      <label for="default_time_h">Set same hour Go home</label>
		    </p>
		</div>
	</div>
	<div class="row">			
		<a class="btn right " id="bc">Save</a>
	</div>
</div>