<nav>   
  <a href="#" class="brand-logo right padding-top-5"><h5>Bienvenido Funalo</h5></a>
    <ul class="right hide-on-med-and-down" id="nav-mobile">
      <li><a href="#!" >My UniWay <i class="material-icons right padding-top">perm_identity</i> </a></li>
      <li><a href="#!">My Timetable<i class="material-icons right padding-top">perm_contact_calendar</i> </a></li>
      <li><a href="#!"> Search<i class="material-icons right padding-top">search</i> </a></li>
      <li><a href="#!"> Log Out<i class="material-icons right padding-top">settings_power</i> </a></li>      
    </ul>
    <ul id="slide-out" class="side-nav" id="nav-mobile">
      <li><a href="#!" >My UniWay <i class="material-icons right padding-top">perm_identity</i> </a></li>
      <li><a href="#!">My Timetable<i class="material-icons right padding-top">perm_contact_calendar</i> </a></li>
      <li><a href="#!"> Search<i class="material-icons right padding-top">search</i> </a></li>
      <li><a href="#!"> Log Out<i class="material-icons right padding-top">settings_power</i> </a></li>
    </ul>
    <a href="#" data-activates="slide-out" id="asd" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>  