 <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo right"><h5>Welcome {{userJson.user.name}}</h5></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#/dashboard" >My UniWay <i class="material-icons right padding-top">perm_identity</i> </a></li>
        <li><a href="#/timetable">My Timetable<i class="material-icons right padding-top">perm_contact_calendar</i> </a></li>
        <li><a href="#/search"> Search<i class="material-icons right padding-top">search</i> </a></li>
        <li><a href="#/"> Log Out<i class="material-icons right padding-top">settings_power</i> </a></li>    
      </ul>
    </div>
  </nav>